:host {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}



.container {
  width: 50%;
  height: 50%;

}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}


.mat-flat-button {
  padding: 0px
}
