:host {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}



.form {
  width: 50%;
  height: 50%;
  align-items: center;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}


.button {
  display: flex;
  justify-content: flex-end;
}

mat-card-content {
  height: 100%;
  align-items: end;
}

.mat-flat-button {
  padding: 0px
}
