.example-full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sub-title {
  display: flex;
  justify-content: space-between;
}

.exit-button {
  cursor: pointer;
}
